<!DOCTYPE HTML>
<html>
	<head>
		<title>Asset Manager</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Boletador</a></li>
							<li><a href="#one">Painel Gerencial</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Boletador Oficial Daycoval Asset</h1>
							<ul class="actions">
								<li><a href="/blotter" class="button scrolly">Acessar Boletador</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="{{url_for('static', filename='images/risk.png')}}" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Painel de Riscos</h2>
									<p>O Painel de Risco de Investimentos é uma poderosa ferramenta visual que transforma dados complexos em insights estratégicos.</p>
									<ul class="actions">
										<li><a href="#" class="button">Acessar</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="{{url_for('static', filename='images/coins.png')}}" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Painel Gerencial</h2>
									<p>O Painel Gerencial de Investimentos é o centro de comando para a gestão eficiente e estratégica de portfólios.</p>
									<ul class="actions">
										<li><a href="/closing-pnl" class="button">Acessar P&L D-1</a></li>
										<li><a href="/live-pnl" class="button">Acessar P&L Live</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Todos os Direitos Reservados </li><li>Design: João Panão de Oliveira</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>